@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*layout*/
body{
  font-family: "Microsoft Jhenghei", sans-serif;
  line-height: 1;
}
.clear{
	clear: both;
}
.wrap-fluid{
  width:100%;
  margin: 0 auto;
}
.wrap{
	width:960px;
	margin: 0 auto;
}
.travel-list-box,.stay-data::after,.contact-text::after{
	content:"";
	clear: both;
}
/*header*/
.header{
	background: url("../img/slide.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}
.header h2{
	position: relative;
	display: inline-block;
	top:80px;
	left: 280px;
	font-weight: bold;
	font-size: 36px;
	color: #93433C;
	line-height: 70px;
}
.header .btn {
	display: block;
}
.header .btn a{
	position: relative;
	background-color: #93433C;
	top:150px;
	left: 280px;
	padding: 10px 20px 10px 30px;
	border-radius:5px; 
	color: #fff;
	text-decoration: none;
}
.header i{
	margin-left: 30px;
}
.header .btn a:hover{
	background-color:#753832;
}
.header h2 .font-white{
	color: #fff;
}
.menu{
    background-color: rgba(0, 0, 0, 0.75);
    height: 80px;
}
.menu .logo{
    background-color: rgba(0, 0, 0, 0.8);
	float: left;
	padding: 21px 30px;
	position: absolute;
	left: 285px;
	top: 20px;
    width: 130px;
    background: url("../img/logo-title.png") no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.menu ul{
	position: relative;
	right: 260px;
	top:30px;
	float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a:hover {
	color: #93433C;
	border-bottom: 6.5px solid #93433C; 
}
.menu ul li a{
	padding: 25px 30px;
	text-decoration: none;
	color: #fff;
}
/*footer*/
.footer{
	background-color: #323228;
	background-size: cover;
	background-position: center;
	height: 100px;
}
.footer p{
	color: #6A6A67;
	position: relative;
    top: 69px;
    left: 87px;
} 
.footer .logo{
    background-color: rgba(0, 0, 0, 0.8);
	float: left;
	position: relative;
	left: 280px;
	top: 14px;
	padding: 21px 30px;
    width: 130px;
    background: url("../img/logo-title.png") no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.footer ul{
	position: relative;
    top: 37px;
    right: 260px;
	float: right;
}
.footer ul li{
	margin-right:20px ;
	float: left;
}
.footer ul li a{
	width: 30px;
	height: 30px;
	border-radius:15px; 
	display: inline-block;
}
.footer ul a:hover{
	background-color: #93433C;
}
.footer ul a.icon-facebook{
	background-image: url("../img/facebook_icon.png");
	background-position: center;
	background-size: cover;
}
.footer ul a.icon-twiter{
	background-image: url("../img/twiter_icon.png");
	background-position: center;
	background-size: cover;
}
.footer ul a.icon-ig{
	background-image: url("../img/ig_icon.png");
	background-position: center;
	background-size: cover;
}
/*seesion-index*/
.travel{
	margin: 50px 0;
}
.travel-title h3{
	font-size: 30px;
	font-weight: bold;
	color: #93433C;
	margin-right:10px;
}
.travel-title p{
	color: rgb(122, 122, 122);
	font-size: 18px;
}
.travel-title h3,p{
	display: inline;
}
.travel-title a.more{
	text-decoration: none;
	font-weight: bold;
	float: right;
	padding: 10px 20px;
	border: 2px solid #93433C;
	border-radius:5px; 
	color:#93433C;
}
.travel-title a.more:hover{
	background-color: #93433C;
	color: #fff;
}
.travel-list-box{
	margin: 20px 0;
}
.travel-list-box h3{
	font-weight: bold;
	font-size: 18px;
	margin: 20px 0;
}
.travel-list-box p{
	width: 230px;
	display: block;
	text-align: left;
	line-height: 30px;
}
.travel-list-box img{
	border-radius:100px; 
}
.html-card{
	border-radius:5px; 
	float: left;
	border: 1px solid #D9D9D9;
	box-shadow: 1px 4px 15px #8f8f8f;
	width: 240px;
	text-align: center;
	padding: 30px;
}
.rwd-card{
	border-radius:5px; 
	position: relative;
    left: 28px;
	float: left;
	border: 1px solid #D9D9D9;
	box-shadow: 1px 4px 15px #8f8f8f;
	width: 240px;
	text-align: center;
	padding: 30px;
}
.jquary-card{
	border-radius:5px; 
	float: right;
	border: 1px solid #D9D9D9;
	box-shadow: 1px 4px 15px #8f8f8f;
	width: 240px;
	text-align: center;
	padding: 30px;
}
.travel-compare{
	margin-bottom: 20px;
}
.travel-compare p{
	color:rgb(136, 136, 136) ;
}
.travel-compare h3{
	font-size: 30px;
	font-weight: bold;
	color: #93433C;
	margin-right:10px;
	display: inline;
}
.travel-compare p{
	color: rgb(122, 122, 122);
	font-size: 18px;
	display: inline;
}
.travel-compare-table{
	margin: 30px auto;
    border-collapse: collapse;
    width: 100%;
}
.travel-compare-table .table-title{
	font-weight: bold;
	background-color: #d3d3d3d3;
}
.travel-compare-table tr {
	text-align: center;
	border-bottom: 1px solid #DDDDDD;
}
.travel-compare-table tr:hover{
	background-color: #d3d3d3d3;
}
.travel-compare-table td{
	padding: 15px 0 15px 5px;
}
.travel-compare-table .font-coffee{
	font-weight: bold;
	color: #93433C;
}
.contact{
	border-radius:5px; 
    background-color: #EBEBEB;
    height: 150px;
    padding: 150px;
}
.contact h2{
	line-height: 50px;
	font-size: 27px;
	color: #323223;
}
.contact .contact-text{
	float: left;
}
.stay-data{
    float: right;
    width: 48%;
}
.stay-data input{
    border: 0;
    border-radius: 5px;
    width: 330px;
    padding: 10px;
}
.stay-data input.email{
	margin-top: 20px;
}
.stay-data input.submit-btn{
	cursor: pointer;
	margin-top: 10px;
	margin-left: 250px;
	width: 100px;
	color: #fff;
	background-color: #93433C;
}
.stay-data input.submit-btn:hover{
	background-color: #753832;
}
/*travel-header*/
.travel-header{
	background: url("../img/slide.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}
.travel-header h2{
	position: relative;
	display: inline-block;
	top:150px;
	left: 280px;
	font-weight: bold;
	font-size: 48px;
	color: #fff;
	line-height: 30px;
}
.travel-header code{
	font-size: 20px;
	color: #93433C;
}
.travel-header .btn {
	display: block;
}
.travel-header .img{
    float: right;
    position: relative;
    top: 100px;
    right: 285px;
}
.travel-header .img img{
	border-radius:100px; 
	margin-left: 50px;
}
.travel-header .btn a{
	position: relative;
	background-color: #93433C;
	top:200px;
	left: 280px;
	padding: 10px 20px 10px 30px;
	border-radius:5px; 
	color: #fff;
	text-decoration: none;
}
.travel-header i{
	margin-left: 30px;
}
.travel-header .btn a:hover{
	background-color:#753832;
}
.travel-student{
	margin: 30px 0 30px 150px; 
	padding: 10px;
	display: inline-block;
}
.travel-student img{
	float: left;
	width: 200px;
	border-radius:100px; 
}
.travel-student h3{
	margin: 0 90px;
	margin-top: 50px;
	line-height: 40px;
	float: left;
	font-size: 30px;
	color: #93433C;
	font-weight: bold;
}
.travel-student code{
	color: #35352B;
}
.travel-student ul{
	list-style: disc;
	float: right;
	color: rgb(117, 117, 117);
	margin-top: 50px;
}
.travel-student ul li{
	line-height: 30px;
}
.travel-special{
	margin: 30px 0
}
.travel-special ol{
	padding: 20px 50px;
	list-style-type:decimal;
}
.travel-special ol li{
	line-height: 40px;
}
.travel-special h3{
	font-size: 30px;
	color: #93433C;
	display: inline;
	font-weight: bold;
}
.travel-special p{
	font-size: 18px;
	margin-left: 5px;
	color: #A2A2A2;
}
.travel-main{
	margin: 30px 0;
}
.travel-main table {
	margin: 30px 0;
    border-collapse: collapse;
	width: 100%;
}
.travel-main h3{
	font-size: 30px;
	color: #93433C;
	display: inline;
	font-weight: bold;
}
.travel-main p{
	font-size: 18px;
	margin-left: 5px;
	color: #A2A2A2;
}
.travel-main th:hover{
	background-color: rgba(0, 0, 0, 0.2);
}
.travel-main th{
	border-radius:5px; 
	text-align: left;
	padding: 20px 50px;
}
.travel-main tr:nth-child(odd){
	background-color: #EBEBEB;
}
.travel-main tr:nth-child(even){
	color: rgb(139, 139, 139);
}
.register{
	margin: 20px 0;
	background-color: #EBEBEB;
	padding: 100px;
}
.register h3{
	position: relative;
	left: 180px;
	line-height: 60px;
	color: #323223;
	font-size: 30px;
	display: inline;
}
.register a{
	position: relative;
	left:220px;
	display: inline-block;
	padding: 0 30px;
	line-height: 40px;
	background-color: #93433C;
	border-radius:5px; 
	color: #fff;
	text-decoration: none;
}
.register a:hover{
	background-color:#753832;
}
.register a i{
	margin-left: 30px;
}
/*travel-qanda*/
.qanda-header{
	background: url("../img/slide.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}
.qanda-header .title-box{
	position: relative;
	top:120px;
	line-height: 80px;
	text-align: center;
}
.qanda-header input{
	border-radius: 5px 0px 0px 5px; 
	width: 400px;
	padding: 10px;
	font-size: 17px;
	border: none;
}  
.qanda-header button {
	border-radius: 0 5px 5px 0; 
	cursor: pointer;
	padding:10px 15px;
	background: #fff;
	font-size: 17px;
	border: none;
}
.qanda-header button:hover{
	background: #ddd;
}
.qanda-header h3{
	font-weight: bold;
	font-size: 48px;
	color: #fff;
	line-height: 30px;
}
.qanda-header h4{
	font-size: 24px;
	font-weight: bold;
    color: #93433C;
}
.answer{
	margin: 20px 0;
}
p.q{
	font-size: 24px;
	display: block;
	color: #35352B;
	margin: 10px 0;
}
.answer strong{
	font-weight: bold;
	color: hotpink;
}
p.a{
	line-height: 30px;
	color: rgb(131, 131, 131);
}
.question-body ol{
	padding: 0 50px;
	list-style-type:decimal;
	color: rgb(131, 131, 131);
}
.question-body ol li{
	line-height: 40px;
}
.question-body ul{
	color: rgb(131, 131, 131);
	margin-left: 53px;
	list-style: disc;
}
.question-body ul li{
	padding: 10px 20px;;
}
.answer a{
	text-decoration: none;
	font-weight: bold;
	color:#93433C;
}
.question{
	margin: 30px 0;
}
.question .question-title{
	margin: 40px 0;
}
.question .question-body{
	margin: 15px 0;
}
.question h3{
	display: inline;
	font-size: 30px;
	color: #93433C;
	font-weight: bold;
}
.question h4{
	display: inline;
	font-size: 18px;
	margin-left: 5px;
	color: #A2A2A2;
}
.trouble{
    background-color: #EBEBEB;
    height: 250px;
    padding: 150px;
}
.trouble h2{
	line-height: 50px;
	font-size: 27px;
	color: #323223;
}
.trouble .trouble-text{
	width: 48%;
	float: left;
}
.stay-trouble{
    float: right;
    width: 48%;
}
.stay-trouble input{
    border: 0;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
}
.stay-trouble input.tel{
	margin-top: 20px;
}
.stay-trouble input.problem{
	margin-top: 20px;
	padding-bottom: 120px;
}
.stay-trouble input.submit-btn{
	cursor: pointer;
	margin-top: 10px;
    margin-left: 322px;
	width: 100px;
	color: #fff;
	background-color: #93433C;
}
.stay-trouble input.submit-btn:hover{
	background-color:#753832;
}